.filterButton {
    margin-top: 121px   ;
    display: flex;
    justify-content: center;
}

.filterButton button {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.filterButton button.activeFilter {
    background-color: #007bff;
    color: #fff;
}
.cardList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.showMore {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.showMore button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.showMore button:hover {
    background-color: #0056b3;
}
