.movieDetails {
    display: flex;
    margin-top: 121px;
    position: relative;
}
.movieItem {
    margin-top: 21px;
}
.movieImage img {
    max-width: 400px;
    margin-right: 20px;
}

.movieInfo {
    flex: 1;
}

.rating {
    margin-top: 10px;
}

.rating p {
    margin: 7px;
}
.duration p {
    margin: 7px;
}

.movieButton {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    z-index: 20px;
}