.card {
    width: 375px;
    height: 375px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.cardContainer {
    padding: 21px;
    height: 100%;
    position: relative;
}
.cardBody {
    margin-top: 14px;
}
.cardImg img {
    border-radius: 10px;
    width: 100%;
    height: 185px;
    object-fit: cover;
}
.cardDesc {
    margin-top: 7px;
    padding: 0 2px;
}
.cardIconLike {
    position: absolute;
    top: 42px;
    right: 42px;
}
.cardIconDelete {
    position: absolute;
    bottom: 21px;
    right: 23px;
}
