.movie {
    position: relative;
    width: 475px;
    height: 300px;
    transition: 0.5s;
}
.movie:hover {
    background-color: rgb(228, 228, 228);
}
.movieContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.movieImage {
    width: 40%;
    height: 286px;
    margin: 7px 0 7px 7px;
}
.movieImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movieBody {
    width: 60%;
    height: 286px;
    padding: 14px;
}
.movieButton {
    position: absolute;
    bottom: 14px;
    right: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    z-index: 20px;
}
.movieDescription {
    margin-top: 14px;
}